$blue: #2c3258;
$yellow: #e4b61a;
$lightY: #fee970;
$lightB:#dbd7d4;
$grey: #9b9183;

$select-color: $lightB;
$select-background: $yellow;
$select-width: 415px;
$select-height: 40px;
$letters-color: $blue;

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: Mulish;
  font-size: 1.3em;
  font-weight: 300;
  color: $blue;
  text-align: center;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  line-height: 100%;
  padding: 8px 15px;
  transition-duration: 0.5s;
  //@include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $blue transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-color, 2);
  }
  &:active, &.active {
    background-color: darken($select-color, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $blue transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    transition-duration: 0.5s;
    //@include transition(all 0.15s ease-in);
    &:hover,
    &.is-selected {
      //color: $select-background;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}