@import "main.scss";

.popular_films{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-left: 15px;
    justify-content: space-between;
    .item-wrap{
        //background-color: rgb(159, 216, 243);
        //margin-bottom: 15px;
        //margin-right: 15px; 
        position: relative;
        width: 230px;
        height: 230px;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .item-back-1{
        width: inherit;
        height: inherit;
        opacity: 0;
        position: absolute;
        background-color: darkkhaki;
        transition-duration: 0.5s;;
        z-index: 0;
    }
    .item-back-2{
        position: absolute;
        width: inherit;
        height: inherit;
        opacity: 0;
        background-color: rgba(206, 233, 214, 0.3);
        transition-duration: 0.5s;
        z-index: 0;
    }
    .item{
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: #f6f5f0;
        z-index: 1000;
        border-radius: 90px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items:center;
        align-self: center;
        justify-self: center;
    }
}

.item-back-1-h{
    transform: rotateZ(-45deg);
    width: 250px !important;
    height: 250px !important;
    opacity: 1 !important;
    z-index: 1500 !important;
}
.item-back-2-h{
    transform: rotateZ(77deg);
    opacity: 1 !important;
    width: 250px !important;
    height: 250px !important;
    z-index: 1500 !important;
}

.img{
    width: inherit;
    height: 60%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    img{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
    }
}
