@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;1,200&display=swap");
@import url("reset.css");
@import url("auth.css");
html {
  height: 100%;
  font-family: Mulish;
  font-weight: 200;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Comfortaa;
  font-weight: 600;
  font-size: 3em;
}

h2 {
  font-family: Mulish;
  font-size: 2.2em;
  font-weight: 300;
  color: bisque;
}

h3 {
  font-family: Mulish;
  font-size: 2em;
  color: #f6f5f0;
}

h4 {
  font-family: Mulish;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 3px;
}

.auth h3 {
  line-height: 42px;
}
.auth h3 a {
  font-weight: 200;
  line-height: inherit;
  transition-duration: 0.5s;
}
.auth_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth_box .auth {
  text-align: center;
  width: 280px;
  height: 42px;
  border-radius: 15px;
  transition-duration: 0.5s;
}
.auth_box .auth:hover {
  background-color: #fee970;
}

.search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.search form input {
  width: 280px;
  height: 36px;
  text-align: center;
}
.search .icon_place {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fee970;
  width: 30px;
  height: 36px;
  text-align: center;
  color: #9b9183;
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transition-duration: 0.5s;
}
.search .icon_place:hover {
  background-color: #2c3258;
}
.search .icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: #2c3258;
  fill: #2c3258;
}
.search .icon:hover {
  stroke: #fee970;
  fill: #fee970;
}
.search .icon:active {
  stroke: #e4b61a;
  fill: #e4b61a;
}

.wrap {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  height: 150px;
  background-color: #dbd7d4;
  display: grid;
  grid-template-columns: 5fr 3fr;
}
header a.title {
  text-align: center;
  line-height: 159px;
}

.title_box {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_menu {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: -18px;
  margin-bottom: 42px;
  background-color: #9b9183;
  height: 36px;
  z-index: 10;
}
.top_menu ul {
  border-radius: 20px;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
}
.top_menu li {
  transition-duration: 0.5s;
  padding-left: 8px;
  padding-right: 8px;
  display: inline;
  border-radius: 10px;
}
.top_menu li a {
  font-weight: 400;
  font-size: 1.6em;
  color: #dbd7d4;
  transition-duration: 0.5s;
}
.top_menu li a:hover {
  color: #2c3258;
}
.top_menu li:hover {
  color: #2c3258;
  background-color: #fee970;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #2c3258;
  padding-bottom: 36px;
}

.cont {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.cont h3 {
  font-style: italic;
  font-weight: 300;
}

footer {
  flex-shrink: 0;
  height: 200px;
  background-color: #2c3258;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

p.copyright {
  color: bisque;
  font-size: 2em;
  font-weight: 200;
}

.footer-line {
  height: 2px;
  width: 80%;
  border: 2px solid #fee970;
  border-radius: 4px;
}

.item_block {
  display: grid;
  grid-template-columns: 2fr 4fr;
  width: 100%;
}

.image_block {
  width: 100%;
  height: 30rem;
  border-radius: 30px;
}
.image_block img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.info_block {
  padding-left: 50px;
}
.info_block h4 {
  color: bisque;
  margin-bottom: 20px;
  font-size: 1.7em;
  font-weight: 400;
  text-align: justify;
}
.info_block h4 span {
  font-weight: 200;
  font-size: 1.5rem;
}
.info_block h5 {
  color: bisque;
}

h3.item_title {
  color: bisque;
  margin-bottom: 20px;
  font-weight: 600;
}

.changes_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  align-content: center;
  justify-items: baseline;
  width: 60%;
  height: 150px;
  overflow: hidden;
}

.btn_change {
  color: #2c3258;
  background-color: #9b9183;
  font-size: 1.5em;
  font-weight: 600;
  padding: 10px;
  margin-left: 15px;
  border-radius: 13px;
  transition-duration: 0.5s;
}
.btn_change:hover {
  background-color: #cda417;
  box-shadow: 0 0 15px rgba(155, 145, 131, 0.7);
}
.btn_change:focus {
  background-color: #b69115;
}

.delete_btn {
  position: relative;
}

.delete_warn {
  transition-duration: 0.5s;
  position: absolute;
  left: 285px;
  top: -50px;
  background-color: #fee970;
  height: 150px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  justify-items: center;
  align-items: center;
}
.delete_warn p {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.3em;
  font-weight: 600;
  color: #2c3258;
}
.delete_warn .delete_btn_confirm {
  background-color: #dbd7d4 !important;
}
.delete_warn .delete_warn_btn {
  height: 3em;
  border-radius: 10px;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 600;
  background-color: #e4b61a;
}
.delete_warn .delete_warn_btn:hover {
  box-shadow: 0 0 5px rgba(43, 51, 89, 0.6);
}
.delete_warn .delete_warn_btn:active {
  background-color: #2c3258;
  color: bisque;
}

ul.film-list {
  padding-left: 40px;
  margin-bottom: 40px;
  width: fit-content;
}
ul.film-list li {
  margin-bottom: 6px;
  transition-duration: 0.5s;
}
ul.film-list li ::before {
  content: "---";
  transition-duration: 0.5s;
}
ul.film-list li ::after {
  transition-duration: 0.5s;
}
ul.film-list li:hover ::after {
  content: "-->>";
  margin-left: 2em;
  color: #cda417;
}
ul.film-list li:hover ::before {
  content: "---";
  margin-right: 2em;
  color: #cda417;
}
ul.film-list li a {
  color: bisque;
  font-size: 1.4em;
  font-style: italic;
  transition-duration: 0.5s;
}
ul.film-list li a:hover {
  color: #cda417;
  font-weight: 600;
}

span.director {
  transition-duration: 0.5s;
}
span.director:hover {
  color: #fee970;
}

/*# sourceMappingURL=item.css.map */
