.people-list{
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 4fr;
  align-items: center;
  justify-items: center;
  column-gap: 10px;
  row-gap: 20px;
  .person-info{
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: inherit;
    width: inherit;
    row-gap: inherit;
    column-gap: inherit;
    justify-items: inherit;
    align-items: inherit;
    min-height: 50px;
    height: max-content;
    border: 1px solid bisque;
    border-radius: 15px;
  }
  h4{
    color: bisque;
  }
  .person-info-films-block{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  a.person-info-films{
    font-size: 1.3em;
    font-weight: 600;
    color: bisque;
    line-height: 1.6;
  }
}