.enter_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        display: contents;
        input {
            margin-top: 10px;
            margin-bottom: 15px;
        }
        .submit {
            width: 100px;
            height: 40px;
        }
    }
}

.sign_up_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 0 auto;
}

.form_sign_up{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    width: max-content;
    margin-bottom: 40px;
    .submit{
        grid-column-start: 1;
        grid-column-end: span 2;
        height: 45px;
        width: 80%;
        justify-self: center;
    }
}