<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Кинопоиск</title>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainadd.css}">

    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/4cb6920ffd/UntitledProject/style-svg.css">
</head>
<body>
    <div class="wrap">
        <div th:replace="header :: header"></div>
        <div class="container">
            <div th:replace="top_menu :: top_menu"></div>
            <div class="cont addmenu">
                <a th:href="${'/addFilm'}"class="addbox"><h2>Добавить фильм</h2></a>
                <a th:href="${'/addPerson'}"class="addbox"><h2>Добавить режисёрa</h2></a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-line"></div>
        <p class="copyright">Автор: Watnik </p>
    </footer>

    <div th:replace="scripts :: scripts"></div>
</body>
<html>