<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Кинопоиск</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/people.css}">
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://i.icomoon.io/public/temp/4cb6920ffd/UntitledProject/style-svg.css">
        <script defer src="https://i.icomoon.io/public/temp/4cb6920ffd/UntitledProject/svgxuse.js"></script>
    </head>
    <body>
        <div class="wrap">
            <div th:replace="header :: header"></div>
            <div class="container">
                <div th:replace="top_menu :: top_menu"></div>
                <div class="cont">
                    <!--<h3>Человеки</h3>-->
                    <div class="people-list">
                        <h3>Имя</h3>
                        <h3>Дата рождения</h3>
                        <h3>Страна рождения</h3>
                        <h3>Фильмы</h3>
                        <div class="person-info" th:each="person : ${persons}">
                            <h4 th:text="${person.fullName}"></h4>
                            <h4 th:text="${person.dateOfBirth}"></h4>
                            <h4 th:text="${person.placeOfBirth}">Страна рождения</h4>
                            <h4>Фильмы</h4>
                        </div>
                        <!--<div class="pearson-info">
                            <h4>Имя</h4>
                            <h4>Дата рождения</h4>
                            <h4>Страна рождения</h4>
                            <h4>Фильмы</h4>
                        </div>
                        <div class="pearson-info">
                            <h4>Имя</h4>
                            <h4>Дата рождения</h4>
                            <h4>Страна рождения</h4>
                            <h4>Фильмы</h4>
                        </div>
                        <div class="pearson-info">
                            <h4>Имя</h4>
                            <h4>Дата рождения</h4>
                            <h4>Страна рождения</h4>
                            <h4>Фильмы</h4>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-line"></div>
            <p class="copyright">Автор: свеня </p>
        </footer>
    </body>
<html>