<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Кинопоиск</title>
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/people.css}">

        <link rel="stylesheet" href="https://i.icomoon.io/public/temp/4cb6920ffd/UntitledProject/style-svg.css">
    </head>
    <body>
        <div class="wrap">
            <div th:replace="header :: header"></div>
            <div class="container">
                <div th:replace="top_menu :: top_menu"></div>
                <div class="cont">
                    <!--<h3>Человеки</h3>-->
                    <div class="people-list">
                        <h3></h3>
                        <h3>Имя</h3>
                        <h3>Родил_ась/ся</h3>
                        <h3>Место</h3>
                        <h3>Фильмы</h3>
                        <div class="person-info" th:each="person : ${persons}" th:href="@{'/personItem?id=' + ${person.id}}" onclick="window.location.href = this.getAttribute('href')">
                            <div class="person-info-img">
                                <img th:src="${'/UploadedImages/' + person.imgUrl}"  onerror = "this.onerror=null; this.src='/img/smurfiki.jpg'" alt="noimg">
                            </div>
                            <h4 th:text="${person.fullName}"></h4>
                            <h4 th:text="${person.dateOfBirth}"></h4>
                            <h4 th:text="${person.placeOfBirth}">Страна рождения</h4>
                            <div class="person-info-films-block">
                                <div th:each="film : ${person.directedFilms}">
                                    <a class="person-info-films" th:href="@{'/filmItem?id=' + ${film.id}}" th:text="${film.title}"></a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="pearson-info">
                            <h4>Имя</h4>
                            <h4>Дата рождения</h4>
                            <h4>Страна рождения</h4>
                            <h4>Фильмы</h4>
                        </div>
                        <div class="pearson-info">
                            <h4>Имя</h4>
                            <h4>Дата рождения</h4>
                            <h4>Страна рождения</h4>
                            <h4>Фильмы</h4>
                        </div>
                        <div class="pearson-info">
                            <h4>Имя</h4>
                            <h4>Дата рождения</h4>
                            <h4>Страна рождения</h4>
                            <h4>Фильмы</h4>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-line"></div>
            <p class="copyright">Автор: Watnik </p>
        </footer>
        <div th:replace="scripts :: scripts"></div>
    </body>
<html>