<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Кинопоиск</title>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainadd.css}">

    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/4cb6920ffd/UntitledProject/style-svg.css">
</head>
<body>
<div class="wrap">
    <div th:replace="header :: header"></div>
    <div class="container">
        <div th:replace="top_menu :: top_menu"></div>
        <div class="cont">
            <h3>Введите даннные для добавления режисёра</h3>
            <form th:action="@{/updatePerson}" th:object="${person}" method="post" class="addform"  enctype="multipart/form-data">
                <fieldset>
                    <p>Имя</p>
                    <input type="text" th:field="*{fullName}" class="input-text" th:placeholder="${person.fullName}">
                </fieldset>
                <fieldset>
                    <p>Дата рождения</p>
                    <input type="text" th:field="*{dateOfBirth}" class="input-text" th:placeholder="${person.dateOfBirth}">
                </fieldset>
                <fieldset>
                    <p>Место рождения</p>
                    <input type="text" th:field="*{placeOfBirth}" class="input-text" th:placeholder="${person.placeOfBirth}">
                </fieldset>
                <fieldset>
                    <label for="file"><p>Файл с портретом</p></label>
                    <input type="file" id="file" name="file" class="inputfile">
                </fieldset>
                <input type="hidden" name="id" th:field="*{id}" th:value="${person.id}">
                <input type="submit" value="Сохранить" class="submitbtn">
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="footer-line"></div>
    <p class="copyright">Автор: Watnik </p>
</footer>

<div th:replace="scripts :: scripts"></div>
</body>
<html>